.bg-img{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 100px;
    
}
.container{
    text-align: center;
    padding-top: 100px;
}
#head-line{
    color: rgba(255, 255, 255, 0.71);
}
#downloat-btn{
    background-color: rgba(244, 3, 3, 0.602);
    margin: 20px;
    padding: 10px;
}
span{
 margin: 15px;
 padding: 15px;
}

#donet{
 text-align: center;
}

.donate-list{
    background-color: rgb(207, 181, 181);
    width: 33.3%;
    
    
}

#p1{
    float: left;
}

#p2{
    float: right;
}

#p3{
    float: right;
}

span#\35 tk {
    border: 2px solid red;
}

.donet-plan{

}

.updat{
    text-align: center;;
    padding: 10px;
    margin: 10px;
}

.contac{
    background-color: gray;
    height: 100px;
    width: 500px;

    }

footer{
    background-color: rgba(0, 0, 0, 0.92);
    text-align: center;
    color: gray;
    margin: 5px;
    padding: 5px;
}